services:
  iptv-server:
    build: .
    container_name: zubo
    restart: unless-stopped
    ports:
      - "5020:5020"
    volumes:
      - ./config:/app/config
      - ./ip:/app/ip
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PORT=5020
      - CONFIG_FILE=/app/config/iptv_config.json
      - BASE_DIR=/app
      - HLS_ROOT=/app/hls
      - LOG_DIR=/app/logs
    user: "1000:1000"
